---
layout: archive
title: "Posts"
permalink: /posts/
author_profile: true
---

{% include base_path %}

Sometimes I get enthusiastic about a small topic or problem that I find intriguing and I wish to write about it. Usually these posts are short and not entirely original (I often write snippets of lectures that I have found especially interesting, and try my best to acknowledge all my professors), but I think having it here in a condensed form is useful for me and hopefully for others on the internet. 

{% for post in site.posts reversed %}
  {% include archive-single.html %}
{% endfor %}
